@import "setting/core";
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: 'Lato', sans-serif;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:  flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


.header {
  &__sidebar {
    background-color: $color-one;
  }
  &__title {
    background-color: $color-two;
    color: #737373;

    &-text {
      font-weight: bold;
      padding-top: 13px;
      padding-bottom: 13px;
      &-content {
        font-size: 16px;
        font-family: 'Lato', sans-serif;
      }
    }
    &-name {
      &-content {
        padding-top: 13px;
        font-family: 'Lato', sans-serif;
      }
    }
  }
}

.page-title {
  &__panel {
    background: url("../img/background/zwartevilt.png");
  }
  &__content {
    background-color: $header-title;
    &-text {
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 15px;
      color: #ffffff;
      font-family: 'Lato', sans-serif;

      .icon-title {
        opacity: .3;
        color: #080d32;
        padding-left: 15px;
      }
    }
  }
}

.nav-custom {
  .nav-custom__link {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #909090;
    background-color: transparent;
    &:focus {
      background-color: transparent;
    }
    &:hover {
      background-color: transparent;
    }
  }
  .active  {
    .nav-custom__link,
    .nav-custom__link:hover,
    .nav-custom__link:active {
      color: #107385;
      font-weight: 900;
      background-color: transparent;

    }
    .nav-custom__link {
      position: relative;
      &::before {
        content: "";
        position: absolute;;
        left:0;
        top:18px;
        height: 6px;
        width: 6px;
        background-color: #107385;;
      }
    }
  }
}

.message {
  height: calc(#{$heightVhfull} - #{$heightHeader});
  &__row {
    height: 100%;
  }
  &__sidebar {
    background-color: $sidebar-background;
  }
  &__body-content {
    background: url("../img/background/confectionary.png");
  }
}

.tab-content {
  padding: 30px;
}
.fast-message {
  &__messageId {
    display: none;
  }
  &__creatMessage {
    display: none;
  }

}
