$color-one: #2E282A;
$color-two: #f3efe4;
$header-panel: #737373;
$header-title: #16A3BE;
$sidebar-background: #221915;
$header-sidebar-title-color:#737373;
$box-shodow-header:rgba(255, 255, 255, 0.5);
$second-header-color: #ffffff;
$second-header-icon: #080d32;
$nav-custom-link: #909090;
$nav-custom-link-status: #107385;